@import '../../styles/variables';

:host([disabled]) {
  pointer-events: none;
  opacity: 0.4;
}

.plate-button {
	min-width: 64px;
	height: 36px;
	padding: 0 16px;
	line-height: 36px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	background-color: $plate-blue;
	color: #F5F0FE;
	border-radius: 4px;
	border-style: none;
	box-shadow: $level-1;
}
