@import '../../global/variables';

:host([disabled]) {
  pointer-events: none;
  opacity: 0.4;
}

button {
	min-width: 64px;
	height: 36px;
	padding: 0 16px;
	line-height: 36px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	border-style: none;
  &.text {}
  &.outlined {}
  &.contained {
    background-color: $plate-primary;
    color: $plate-white;
  }
  &.rectangle {}
  &.rounded {
    border-radius: 4px;
  }
  &.shaped {}
  &.octagon {}
  &.elevation-1 {
    box-shadow: $level-1;
  }
  &.elevation-2 {
    box-shadow: $level-2;
  }
  &.elevation-3 {
    box-shadow: $level-3;
  }
  &.elevation-4 {
    box-shadow: $level-4;
  }
  &.elevation-5 {
    box-shadow: $level-5;
  }
}
